{"openapi":"3.0.1","info":{"title":"Edfapay API Docs","version":"1.0"},"servers":[{"url":"https://revamp-api.edfapay.com","description":"Staging Server"},{"url":"http://localhost:8766","description":"Local Server"}],"security":[{"apiKey":[]}],"tags":[{"name":"Transaction Management","description":"Transaction Management APIs"},{"name":"Partner Management","description":"Partner Management APIs"},{"name":"Branch Management","description":"Branch Management APIs"},{"name":"User Management","description":"User Management APIs"},{"name":"Merchant Management","description":"Merchant Management APIs"},{"name":"Role Management","description":"Role Management APIs"}],"paths":{"/api/v1/users/user":{"put":{"tags":["User Management"],"summary":"Update User","description":"Update exist User, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"editUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/roles/role/{roleId}":{"get":{"tags":["Role Management"],"summary":"Role Details","description":"Get Role Details by RoleId, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"getRoleById","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Role Management"],"summary":"Update ROLE","description":"Update exist Role, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"editRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Role Management"],"summary":"Delete ROLE","description":"Delete exist Role, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"deleteRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/partner":{"put":{"tags":["Partner Management"],"summary":"Update Partner","description":"Update exist Partner, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"editPartner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartnerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"post":{"tags":["Partner Management"],"summary":"Create Partner","description":"Create new Partner, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"createPartner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePartnerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/merchant":{"put":{"tags":["Merchant Management"],"summary":"Update Merchant","description":"Update exist Merchant, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"editMerchant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMerchantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"post":{"tags":["Merchant Management"],"summary":"Create Merchant","description":"Create new Merchant, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"createMerchant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMerchantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/branches":{"put":{"tags":["Branch Management"],"summary":"Update Branch","description":"Update exist Branch, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"editBranch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"post":{"tags":["Branch Management"],"summary":"Create Branch","description":"Create new Branch, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"createBranch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Branch Management"],"summary":"Delete Multi Branches","description":"Delete multiple Branches, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"batchDeleteBranches_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/roles/role":{"post":{"tags":["Role Management"],"summary":"Create ROLE","description":"Create new Role, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/users/batch-delete":{"patch":{"tags":["User Management"],"summary":"Delete Multi Users","description":"Delete multiple Users, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"batchDeleteUsers","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/roles/batch-delete":{"patch":{"tags":["Role Management"],"summary":"Delete Multi Branches","description":"Delete multiple Branches, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"batchDeleteBranches","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/partner/batch-delete":{"patch":{"tags":["Partner Management"],"summary":"Delete Multi Partners","description":"Delete multiple Partners, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"batchDeletePartners","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/merchant/batch-delete":{"patch":{"tags":["Merchant Management"],"summary":"Delete Multi Merchants","description":"Delete multiple Merchants, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"batchDeleteMerchants","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/users/user/{userId}":{"get":{"tags":["User Management"],"summary":"User Details","description":"Get User Details by UserId, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"getUserById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["User Management"],"summary":"Delete ","description":"Delete exist User, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"deleteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/users/search":{"get":{"tags":["User Management"],"summary":"Search Users","description":"Search & Retrieve Users, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"searchUsers","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/SearchPageable"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"User Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/UserSearchCriteria"},"example":{"text":"User","active":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/{id}/details":{"get":{"tags":["Transaction Management"],"summary":"Transaction Details","description":"Get Transaction Details by TransactionId","operationId":"getTransactionDetailsById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/receipt/{id}":{"get":{"tags":["Transaction Management"],"summary":"Transaction Details","description":"Get Transaction Details by TransactionId","operationId":"getTransactionReceiptById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/public/transaction-constants":{"get":{"tags":["Transaction Management"],"summary":"Transaction Coding","description":"Get All Transaction Coding","operationId":"getAllCoding","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/filterTransaction":{"get":{"tags":["Transaction Management"],"summary":"Search Transaction","description":"Search & Retrieve Transaction","operationId":"searchBranches","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/FinancialTransactionPage"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"Transaction Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/FinancialTransactionSearchCriteria"},"example":{"rrn":"235","status":"SUCCESS"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/exist":{"get":{"tags":["Transaction Management"],"summary":"Transaction Exist","description":"Check If Transaction Exist by TransactionId","operationId":"getTransaction","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/dashboard/soft-pos-summary":{"get":{"tags":["Transaction Management"],"summary":"Transaction SoftPOS Summary","description":"Return Transactions SoftPOS Summary","operationId":"getSoftPosSummary","parameters":[{"name":"days","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/dashboard/soft-pos-summary/{terminalId}":{"get":{"tags":["Transaction Management"],"summary":"Transaction SoftPOS Summary By TerminalId","description":"Return Transaction SoftPOS Summary By TerminalId","operationId":"getSoftPosSummaryByTerminalId","parameters":[{"name":"days","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"terminalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/transactions/dashboard/payment-gateway-summary":{"get":{"tags":["Transaction Management"],"summary":"Transaction Payment Gateway Summary","description":"Return Transactions Payment Gateway Summary","operationId":"getPaymentGatewaySummary","parameters":[{"name":"days","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/roles/search":{"get":{"tags":["Role Management"],"summary":"Search Roles","description":"Search & Retrieve Roles, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT, BRANCH","operationId":"searchRoless","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/SearchPageable"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"Role Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/RoleSearchCriteria"},"example":{"text":"Role","active":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/partner/{partnerId}":{"get":{"tags":["Partner Management"],"summary":"Partner Details","description":"Get Partner Details by PartnerId, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"getPartnerById","parameters":[{"name":"partnerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Partner Management"],"summary":"Delete Partner","description":"Delete exist Partner, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"deletePartner","parameters":[{"name":"partnerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/partner/search":{"get":{"tags":["Partner Management"],"summary":"Search Partners","description":"Search & Retrieve Partners, ACCESS LEVEL: SUPER_ADMIN, PARTNER","operationId":"searchPartners","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/SearchPageable"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"Partner Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/PartnerSearchCriteria"},"example":{"text":"Partner","active":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/merchant/{merchantId}":{"get":{"tags":["Merchant Management"],"summary":"Merchant Details","description":"Get Merchant Details by MerchantId, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"getMerchantById","parameters":[{"name":"merchantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Merchant Management"],"summary":"Delete Merchant","description":"Delete exist Merchant, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"deleteMerchant","parameters":[{"name":"merchantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/merchant/search":{"get":{"tags":["Merchant Management"],"summary":"Search Merchants","description":"Search & Retrieve Merchants, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"searchMerchants","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/SearchPageable"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"Merchant Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/MerchantSearchCriteria"},"example":{"text":"Merchant","active":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/branches/{branchId}":{"get":{"tags":["Branch Management"],"summary":"Branch Details","description":"Get Branch Details by BranchId, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"getBranchById","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Branch Management"],"summary":"Delete Branch","description":"Delete exist Branch, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"deleteBranch","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/branches/search":{"get":{"tags":["Branch Management"],"summary":"Search Branches","description":"Search & Retrieve Branches, ACCESS LEVEL: SUPER_ADMIN, PARTNER, MERCHANT","operationId":"searchBranches_1","parameters":[{"name":"pageProperties","in":"query","description":"Search Pageable","required":true,"schema":{"$ref":"#/components/schemas/SearchPageable"},"example":{"pageNumber":0,"pageSize":10}},{"name":"searchCriteria","in":"query","description":"Branch Search Criteria","required":true,"schema":{"$ref":"#/components/schemas/BranchSearchCriteria"},"example":{"text":"Branch","active":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageObject"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}}},"components":{"schemas":{"ApiResponseObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"errorCode":{"type":"string"},"data":{"type":"object"}}},"UpdateUserRequest":{"required":["id","userType"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phoneNumber":{"pattern":"^(\\+?[0-9]{10,15}|)$","type":"string"},"userType":{"type":"string","enum":["SUPER_ADMIN","PARTNER","MERCHANT","BRANCH","TERMINAL","SDK_USER","USER"]},"roles":{"type":"array","items":{"type":"string"}},"permissions":{"type":"array","items":{"type":"string"}}}},"RoleCreateRequest":{"type":"object","properties":{"roleName":{"type":"string"},"description":{"type":"string"},"permissions":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"UpdatePartnerRequest":{"required":["address","emailAddress","name","nameAR","registeredMobileNumber"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"logo":{"type":"string","format":"byte"},"name":{"type":"string"},"nameAR":{"type":"string"},"emailAddress":{"type":"string"},"registeredMobileNumber":{"pattern":"^\\+?[0-9]{10,15}$","type":"string"},"address":{"type":"string"},"active":{"type":"boolean"}}},"UpdateMerchantRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"nameAR":{"type":"string"},"emailAddress":{"type":"string"},"registeredMobileNumber":{"type":"string"},"businessCategoryId":{"type":"string","format":"uuid"},"country":{"type":"string"},"city":{"type":"string"},"active":{"type":"boolean"},"logo":{"type":"string","format":"byte"},"currencyCode":{"type":"string"}}},"BranchUpdateRequest":{"required":["countryCode","id","name"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"nameAR":{"type":"string"},"address":{"type":"string"},"countryCode":{"type":"string"},"cityId":{"type":"integer","format":"int32"},"active":{"type":"boolean"}}},"CreatePartnerRequest":{"required":["emailAddress","name","nameAR","registeredMobileNumber"],"type":"object","properties":{"parentBusinessUnitId":{"type":"string","format":"uuid"},"logo":{"type":"string","format":"byte"},"name":{"type":"string"},"nameAR":{"type":"string"},"emailAddress":{"type":"string"},"registeredMobileNumber":{"pattern":"^\\+?[0-9]{10,15}$","type":"string"},"address":{"type":"string"},"active":{"type":"boolean"}}},"CreateMerchantRequest":{"required":["emailAddress","name","nameAR","registeredMobileNumber"],"type":"object","properties":{"emailAddress":{"type":"string"},"registeredMobileNumber":{"pattern":"^\\+?[0-9]{10,15}$","type":"string"},"country":{"type":"string"},"city":{"type":"string"},"parentBusinessUnitId":{"type":"string","format":"uuid"},"businessCategoryId":{"type":"string","format":"uuid"},"logo":{"type":"string","format":"byte"},"currencyCode":{"type":"string"},"name":{"type":"string"},"nameAR":{"type":"string"},"active":{"type":"boolean"}}},"BranchCreateRequest":{"required":["countryCode","name"],"type":"object","properties":{"name":{"type":"string"},"nameAR":{"type":"string"},"address":{"type":"string"},"countryCode":{"type":"string"},"cityId":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"parentBusinessUnitId":{"type":"string","format":"uuid"}}},"SearchPageable":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"sortDirection":{"type":"string","enum":["ASC","DESC"]},"pageSize":{"type":"integer","format":"int32"},"sortBy":{"type":"string"}}},"UserSearchCriteria":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string"},"phoneNumber":{"type":"string"},"createdTimeTo":{"type":"string","format":"date"},"createdTimeFrom":{"type":"string","format":"date"},"firstName":{"type":"string"},"lastName":{"type":"string"},"businessUnitId":{"type":"string","format":"uuid"},"userType":{"type":"string"},"text":{"type":"string"},"owner":{"type":"boolean"},"businessUnitHierarchies":{"type":"array","items":{"type":"string","format":"uuid"}}}},"ApiResponsePageObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"errorCode":{"type":"string"},"data":{"$ref":"#/components/schemas/PageObject"}}},"PageObject":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"type":"object"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"FinancialTransactionPage":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"sortDirection":{"type":"string","enum":["ASC","DESC"]},"pageSize":{"type":"integer","format":"int32"},"sortBy":{"type":"string"}}},"FinancialTransactionSearchCriteria":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"channel":{"type":"string"},"amountFrom":{"type":"number","format":"double"},"amountTo":{"type":"number","format":"double"},"cardType":{"type":"string"},"status":{"type":"string"},"reconciliationStatus":{"type":"string"},"merchantId":{"type":"string"},"createdBy":{"type":"string"},"startDate":{"type":"string"},"endDate":{"type":"string"},"startHour":{"type":"string"},"endHour":{"type":"string"},"id":{"type":"string"},"transactionType":{"type":"string"},"partnerId":{"type":"string"},"rrn":{"type":"string"},"mti":{"type":"string"},"cardNumber":{"type":"string"},"madaTerminalId":{"type":"string"},"transactionCreateDate":{"type":"string","format":"date-time"},"cardSequenceNumber":{"type":"string"},"terminalId":{"type":"string","format":"uuid"},"actionType":{"type":"string"},"trxReferenceId":{"type":"string","format":"uuid"},"businessUnitHierarchies":{"type":"array","items":{"type":"string","format":"uuid"}},"appId":{"type":"string"}}},"RoleSearchCriteria":{"type":"object","properties":{"text":{"type":"string"},"createdTimeTo":{"type":"string","format":"date"},"createdTimeFrom":{"type":"string","format":"date"}}},"PartnerSearchCriteria":{"type":"object","properties":{"name":{"type":"string"},"nameAR":{"type":"string"},"address":{"type":"string"},"text":{"type":"string"},"active":{"type":"boolean"},"emailAddress":{"type":"string"},"registeredMobileNumber":{"type":"string"},"createdTimeTo":{"type":"string","format":"date"},"createdTimeFrom":{"type":"string","format":"date"},"businessUnitHierarchies":{"type":"array","items":{"type":"string","format":"uuid"}}}},"MerchantSearchCriteria":{"type":"object","properties":{"text":{"type":"string"},"userId":{"type":"string","format":"uuid"},"cityId":{"type":"integer","format":"int32"},"countryCode":{"type":"string"},"businessCategoryId":{"type":"string","format":"uuid"},"partnerId":{"type":"string","format":"uuid"},"name":{"type":"string"},"nameAR":{"type":"string"},"emailAddress":{"type":"string"},"currencyCode":{"type":"string"},"registeredMobileNumber":{"type":"string"},"createdTimeTo":{"type":"string","format":"date"},"createdTimeFrom":{"type":"string","format":"date"},"active":{"type":"boolean"},"businessUnitIds":{"type":"array","items":{"type":"string","format":"uuid"}}}},"BranchSearchCriteria":{"type":"object","properties":{"text":{"type":"string"},"countryCode":{"type":"string"},"cityId":{"type":"string"},"address":{"type":"string"},"active":{"type":"boolean"},"createdTimeTo":{"type":"string","format":"date"},"createdTimeFrom":{"type":"string","format":"date"},"businessUnitHierarchies":{"type":"array","items":{"type":"string","format":"uuid"}}}}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"API Key for accessing the endpoints from types (ADMIN, PARTNER, MERCHANT, USER)","name":"X-API-KEY","in":"header"}}}}